:root {
    --primary-yellow: #fcde67; /* Semikolon am Ende */
    --primary-blue: #5bccf6;   /* Semikolon am Ende */
    --text-color: #030e12;    /* Hashtag für Farbcode und Semikolon */
    --background-color: #f0ecec; /* Semikolon am Ende */
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    
  }

  header {
    background-color: (var(--primary-blue));
    color: rgb(2, 3, 59);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 