:root {
    --primary-yellow: #fcde67; /* Semikolon am Ende */
    --primary-blue: #5bccf6;   /* Semikolon am Ende */
    --text-color: #030e12;    /* Hashtag für Farbcode und Semikolon */
    --background-color: #f0ecec; /* Semikolon am Ende */
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-image:url('image/hintergrundbild.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    
  }

  header {
    background-color: var(--primary-blue);
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #intro {
    padding: 40px 20px;
    margin: 30px auto;
    max-width: 800px;
    background-color: #e4e2e270;
    border-radius: 8px;
    
  }

  #intron h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--primary-blue);

  }

  #intro p {
    line-height: 1.6;
    margin-bottom: 15px;
  }